body {
    font-family: sans-serif;
}

header{
    border-top: 15px solid  #2196F3;
     border-bottom: 15px solid  #2196F3;
}

header img{
    height: 50px;
    width: 50px;
}
header h1{
    text-align: center;
}
.t-1{
margin-top: 10px;

border: double #2196F3 15px;   
border-radius: 35px;
height: 200px;
width: 150px;
}

div{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
nav a{
    position: absolute;
    right:-80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    background-color: #2196F3;
    margin-top: 50px;

} 
nav a:hover{
    right: 0px;

}
